html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent
}


/* Q&A style*/
#accordion{
    padding: 20px 0px;

}
.card{
    background-color: transparent;
    border: none;
    
    
}

.card-header{
    background-color: transparent;
    border:none;
    padding: 20px 0px;
   
}

.card-header > h5{
    color: #fff;
   
}


.card-body{
    background-color:rgba(255, 255, 255, 0.6);
}
/* Q&A style*/

.section-heading-kickstart{
    margin-bottom: 60px;
   
}

.section-heading-kickstart > h2 {
    font-weight: 300;
    color: #5b32b4;
    font-size: 48px;
    margin: 0;
}

.section-heading-kickstart > h3 {
    font-weight: 200;
    color: #252525;
    font-size: 34px;
    margin: 0;
    padding: 30px 0px;
}



.logo{
    width: 120px;
    margin-top: 3px;
    text-align: center;

}

.footer-logo{
    width: 240px;
    height: 120px;
}

.img-bodies{
    width: 300px;
   height: 300px;
}

.img-circle{
    border-radius: 50%;
    width: 100px;
}

.icon > img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 7px;
       
}

.icon > h5{
    align-self: center;
    font-size: 22px;
    color: #5b32b4;
}


.caption {
    text-align: center;   
}


.sub-title{
    color: white;
    font-size: 30px;
}


.h-55{
    height: 75%!important;
}

.purple_bg{
    background-image: url(img/bg-img/Description_bg.png);
    background-position: bottom center;
    background-size: cover;
    padding:50px 0px;
   
}

.special_description_content_second > h2 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 30px;
}

.special_description_content_second > p {
    color: #ffffff;
    margin-bottom: 30px;
}

.hero-description > h2 {
    color: #5b32b4;
    font-size: 36px;
    text-align: right;
}

.hero-description > p {
    color: #726a84;
    margin-bottom: 0;
    text-align: right
}

.sing-up-button_hero {
    text-align: center;
    margin-top: 10px;
}

.sing-up-button_hero > a {
    color: #884bdf;
    font-weight: 500;
    display: inline-block;
    border: 2px solid #fb397d;
    height: 50px;
    min-width: 178px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 0px;
    font-size: 18px;
}

.sing-up-button_hero > a:hover {
    background: #fb397d;
    color: #fff;
    border-color: transparent;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}



@media only screen and (max-width: 400px) {
    .logo {
        width: 60px;
    }
    .welcome-thumb{
        bottom: 160px;
    }
    
    .special_description_content_second > h2 {
        font-size: 30px;
    }
    .special_description_content_second > p {
        font-size: 16px;
    }
    .h-55{
        height: 45%!important;
    }
    .wellcome-heading{
        margin-top: 120px;
    }

    .sing-up-button{
        margin-top: 10px;
        text-align: center;
    }

    .sub-title{
        color: white;
        font-size: 20px;
    }

    .img-bodies{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 401px) and (max-width:768px) {
    .img-bodies{
        width: 200px;
        height: 200px;
    }

    .logo {
        width: 80px;
    }
    .welcome-thumb{
        bottom: 160px;
    }
    .special_description_content_second > h2 {
        font-size: 30px;
    }
    .special_description_content_second > p {
        font-size: 16px;
    }

    .sing-up-button{
        text-align: center;
        margin-top: 10px;
        color: #5b32b4;
    }
    .h-55{
        height: 45%!important;
    }
    .wellcome-heading{
        margin-top: 120px;
    }

    .sub-title{
        color: white;
        font-size: 20px;
    }
}