.logo{
    width: 120px;
    margin-top: 3px;

}

.h-55{
    height: 75%!important;
}

.purple_bg{
    background-image: url(img/bg-img/Description_bg.png);
    background-position: bottom center;
    background-size: cover;
    padding:50px 0px;
   
}

.special_description_content_second > h2 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 30px;
}

.special_description_content_second > p {
    color: #ffffff;
    margin-bottom: 30px;
}



@media only screen and (max-width: 400px) {
    .logo {
        width: 60px;
    }
    .welcome-thumb{
        bottom: 170px;
    }
    
    .special_description_content_second > h2 {
        font-size: 30px;
    }
    .special_description_content_second > p {
        font-size: 16px;
    }
    .h-55{
        height: 45%!important;
    }
    .wellcome-heading{
        margin-top: 120px;
    }
}

@media only screen and (min-width: 401px) and (max-width:768px) {
    .logo {
        width: 80px;
    }
    .welcome-thumb{
        bottom: 170px;
    }
    .special_description_content_second > h2 {
        font-size: 30px;
    }
    .special_description_content_second > p {
        font-size: 16px;
    }

    .sing-up-button{
        text-align: center;
        margin-top: 0;
    }
    .h-55{
        height: 45%!important;
    }
    .wellcome-heading{
        margin-top: 120px;
    }
}